**Data Types and Structures Questions-Answer**
1.	What are data structures, and why are they important?
-	Data structure is a way of organizing and storing data so that it can be accessed and manipulated efficiently.
2.	Explain the difference between mutable and immutable data types with examples.
-	Mutable data types can be modified or edited but immutable data types cannot be edited. For example, List data type is mutable that means we can access the list elements by indexing and also can change or modify those elements. But in case of Tuple data type, we cannot change or modify the elements. Therefore, tuple is immutable data type.
3.	What are the main differences between lists and tuples in Python?
-	List data type is mutable that means we can change or modify those elements. But in case of Tuple data type, we cannot change or modify the elements. Therefore, tuple elements are immutable data type.
4.	Describe how dictionaries store data.
-	Dictionaries store data as key- value pair.
e.g., dic_C = {'name': 'Alice', 'age': 30}
here, ‘name’ is key and the value of that key is ‘Alice’.

5.	Why might you use a set instead of a list in Python?
-	When, we need to get only unique elements irrespective of their orders without any repeat, we use a set instead of a list, which has ordered and mutable elements including repeats. Set elements can’t be accessed by indexing as it is unordered but it is mutable (exception: frozen set) for adding or removing. If above mentioned features of set are enough to store data, we can use a set instead of a list.  
6.	What is a string in Python, and how is it different from a list?
-	String is a sequence of characters which are written with in single or double quote. Strings are immutable but it can be modified and assigned as new string.
-	Lists are mutable that means list elements can be changed.
7.	How do tuples ensure data integrity in Python?
-	¬Tuples in Python ensure data integrity because tuples data are immutable. Once data are stored s tuples, it can not be modified or changed.
8.	What is a hash table, and how does it relate to dictionaries in Python?
-	 A hash table is a data structure that allows us to store a collection of key-value pairs.
In Python, dictionaries data structure is also store data in key-value pairs. In that way, dictionaries are related to hash table.
9.	Can lists contain different data types in Python?
-	Yes, list contains different data types like integer, float, Boolean, string.
10.	Explain why strings are immutable in Python.
-	String elements cannot be changed in python once elements are stored as string, that is why strings are immutable. One string element can be modified but the modification has to be defined by another string. The previous string data is unchanged.

11.	What advantages do dictionaries offer over lists for certain tasks?
-	Dictionary has the advantage to access the date with key as it stores data in key- value pair. Therefore, data is more easily accessible in dictionaries. List can be used when it is important to maintain the order of the elements.
12.	Describe a scenario where using a tuple would be preferable over a list.
-	We use tuple for storing data which can not be changed further but list is mutable, so list data can be changed. When we store data which is purposely not changed further like employee id, Aadhar card number, Passport number etc., we use tuples. Therefore, data security is maintained.   
13.	How do sets handle duplicate values in Python?
-	Set shows only unique elements. So, duplicate values can not be visible in set.
14.	How does the “in” keyword work differently for lists and dictionaries?
-	“in” operator finds only key in dictionaries, not the value but in lists “in” operator is searching a particular element which is either present or absent in that list.
15.	Can you modify the elements of a tuple? Explain why or why not.
-	¬The elements in a tuple cannot be modified as it is immutable.
16.	What is a nested dictionary, and give an example of its use case?
-	A nested dictionary is a collection of dictionaries within a dictionary.
-	When multiple dictionaries are required to store for a particular data series, it is stored as nested dictionary.
17.	Describe the time complexity of accessing elements in a dictionary.
-	In Dictionary data, only value can be accessed by respective key. We cannot access key with the help of value.   
18.	In what situations are lists preferred over dictionaries?
-	When we need to store ordered collections of elements which are accessible by indexing and can be modified easily, we prefer lists over dictionaries, as in dictionary, data store in key:value pair and we access only the value by using key.  
19.	Why are dictionaries considered unordered, and how does that affect data retrieval?
-	The dictionaries are considered as unordered because the elements are in key:value pairs and cannot be accessible by indexing. It is only accessible by key.
-	As indexing is not possible in dictionaries, we have to know the particular key name for accessing the value.
20.	Explain the difference between a list and a dictionary in terms of data retrieval.
-	A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys only.

In [1]:
# 1. Write a code to create a string with your name and print it.
Name = "Tulika"
print(Name)

Tulika

In [2]:
# 2. Write a code to find the length of the string "Hello World".
s = "Hello World"
print(len(s))

11

In [3]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
s = "Python Programming"
print(s[0:3])

Pyt

In [7]:
# 4. Write a code to convert the string "hello" to uppercase.
s = "hello"
print(s.upper())

HELLO

In [8]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
s = "I like apple"
print(s.replace("apple","orange"))

I like orange

In [9]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
create_list = [1,2,3,4,5]
print(create_list)

[1, 2, 3, 4, 5]

In [15]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
create_list = [1,2,3,4]
create_list.append(10)
print(create_list)

[1, 2, 3, 4, 10]

In [16]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
A = [1,2,3,4,5]
A.remove(3)
print(A)

[1, 2, 4, 5]

In [17]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
T = ['a', 'b', 'c', 'd']
print(T[1])

b

In [18]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
B = [10, 20, 30, 40, 50]
print(B[::-1])

[50, 40, 30, 20, 10]

In [20]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
C = (100,200,300)
print(C)

(100, 200, 300)

In [23]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
D = ('red', 'green', 'blue', 'yellow')
print(D[-2])

blue

In [24]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
E = (10, 20, 5, 15)
print(min(E))

5

In [27]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
A = ('dog', 'cat', 'rabbit')
B = A.index('cat')
print(B)

1

In [30]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
D = ("apple", "banana", "kiwi")
print("kiwi" in D)

True

In [36]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
E = {'a','b','c'}
print(E)

{'b', 'c', 'a'}

In [37]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [38]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
F = {1, 2, 3, 4}
F.remove(4)
print(F)

{1, 2, 3}

In [65]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
A = {1, 2, 3}
B = {3, 4, 5}
print(A.union(B))

{1, 2, 3, 4, 5}

In [43]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
C = {1, 2, 3}
D = {2, 3, 4}
print(C.intersection(D))

{2, 3}

In [44]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dic_A = {"name": "Tulika Nandy", "age" : "31", "city" : "Kolkata"}
print(dic_A)

{'name': 'Tulika Nandy', 'age': '31', 'city': 'Kolkata'}

In [45]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dic_B = {'name': 'John', 'age': 25}
dic_B["country"] = "USA"
print(dic_B)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [46]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dic_C = {'name': 'Alice', 'age': 30}
print(dic_C["name"])

Alice

In [47]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dic_D = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dic_D.pop('age')
print(dic_D)

{'name': 'Bob', 'city': 'New York'}

In [48]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dic_E = {'name': 'Alice', 'city': 'Paris'}
print("city" in dic_E)

True

In [54]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
A = ["apple", "Mango","Banana"]
B = tuple(A)
C = {"Fruit1":"Apple","Fruit2":"Mango","Fruit3":"Banana"}
print(A)
print(B)
print(C)

['apple', 'Mango', 'Banana']
('apple', 'Mango', 'Banana')
{'Fruit1': 'Apple', 'Fruit2': 'Mango', 'Fruit3': 'Banana'}

In [58]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
A = [25, 65, 29, 4, 98]
print(sorted(A))

[4, 25, 29, 65, 98]

In [60]:
# 28. Write a code to create a list with strings and print the element at the third index.
A = ["apple", "Mango","Banana", "Kiwi", "Orange", "Pear"]
print(A[3])

Kiwi

In [63]:
# 29. Write a code to combine two dictionaries into one and print the result.
A = {"Fruit1":"Apple","Fruit2":"Mango","Fruit3":"Banana"}
B = {"Fruit4":"Kiwi","Fruit5":"Orange","Fruit6":"Pear"}
print(A | B)

{'Fruit1': 'Apple', 'Fruit2': 'Mango', 'Fruit3': 'Banana', 'Fruit4': 'Kiwi', 'Fruit5': 'Orange', 'Fruit6': 'Pear'}

In [67]:
# 30. Write a code to convert a list of strings into a set.
A = ["apple", "Mango","Banana", "Kiwi", "Orange", "Pear"]
print(set(A))

{'apple', 'Mango', 'Kiwi', 'Pear', 'Orange', 'Banana'}